// style={{margin:'10px', display:'flex', flexDirection:'row'}}

.myAllPosts{
    margin: 10px;
    display: flex;
    padding: 1px;
    justify-content: space-around;
    flex-wrap: wrap;
    // text-align: ;

}