.signupForm{
    max-width: 200px;
    border: 2px solid black;
    border-radius: 10%;
    display:flex;
    flex-direction:column;
}

.signup{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}